.container-fluid {
	/* height: 100%; */
	background-repeat: no-repeat;
    background-attachment: fixed;
}

.content {
	border-left: 10px double black;
	border-right: 10px double black;
	/* background-image: linear-gradient(#e6fcfc,#8b430b, transparent), url(images/833.jpg)  no-repeat center; */
	background:
		linear-gradient(
			rgba(255, 0, 0, 0.45),
			rgba(0, 0, 255, 0.45)
		),
		url(images/8333.jpg);
}


@font-face {
	font-family: Lucha;
	src: url('fonts/RacingSansOne-Regular.ttf');
}

h1 {
	font-family: 'Lucha', sans-serif;
	font-size: 100px;
	
}